! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
! title      Nord XResources                                    +
! project    nord-xresources                                    +
! version    0.1.0                                              +
! repository https://github.com/arcticicestudio/nord-xresources +
! author     Arctic Ice Studio                                  +
! email      development@arcticicestudio.com                    +
! copyright  Copyright (C) 2016                                 +
! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
#define nord0   #2e3440
#define nord1   #3B4252
#define nord2   #434C5E
#define nord3   #4C566A
#define nord4   #D8DEE9
#define nord5   #E5E9F0
#define nord6   #ECEFF4
#define nord7   #8FBCBB
#define nord8   #88C0D0
#define nord9   #81A1C1
#define nord10  #5E81AC
#define nord11  #BF616A
#define nord12  #D08770
#define nord13  #EBCB8B
#define nord14  #A3BE8C
#define nord15  #B48EAD



*.foreground                : nord4
*.background                : nord0
*.cursorColor               : nord4
!*fading                    : 35
!*fadeColor                 : nord3

*.color0                    : nord1
*.color1                    : nord11
*.color2                    : nord14
*.color3                    : nord13
*.color4                    : nord9
*.color5                    : nord15
*.color6                    : nord8
*.color7                    : nord5
*.color8                    : nord3
*.color9                    : nord11
*.color10                   : nord14
*.color11                   : nord13
*.color12                   : nord9
*.color13                   : nord15
*.color14                   : nord7
*.color15                   : nord6

Xft.dpi                     :95
Xft.antialiasing            :true
Xft.rgba                    :rgb
Xft.hinting                 :true
Xft.lcdfilter               :lcddefault

URxvt*font                  : xft:Source Code Pro:Regular:pixelsize=12, xft:SauceCodePro Nerd Font:pixelsize=12
URxvt*boldFont              : xft:Source Code Pro:Bold:pixelsize=12
URxvt.boldItalicFont        : xft:Source Code Pro:Italic:pixelsize=12
URxvt*allow_bold            : true
URxvt*letterSpace			: 1
URxvt.internalBorder		: 3
URxvt.scrollBar             : false

URxvt*.perl-ext-common      : default,matcher,resize-font
URxvt.url-launcher          : xdg-open
URxvt.matcher.button        : 1
URxvt.matcher.pattern.1     : \\bwww\\.[\\w-]\\.[\\w./?&@#-\[\]

! +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
! Rofi
! ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


rofi.color-enabled          : true
rofi.color-window           : nord0, nord0, nord0
rofi.color-normal           : nord0, nord5, nord0, nord1, nord11
rofi.color-active           : nord1, nord11, nord2, nord11, nord1
rofi.color-urgent           : #e12a36, #dd2a4b, #1b2b34

rofi.lines                  : 4
rofi.hide-scrollbar         : true
rofi.width                  : 300
rofi.padding                : 20
rofi.terminal               : termite
rofi.show-icons             : true
rofi.run-command            : fish -c '{cmd}'
